.login-main {
    background: #0c647498;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    min-width: 20rem;
}

.field-group-login {
    background: rgb(88, 177, 180);
    box-shadow: 0 0 2rem #3a4041;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #000000;
    margin-top: 2rem;
  }

  .field-group-login input[type="text"] {
    outline: none;
    border: none;
    background: rgb(88, 177, 180);
    border-bottom: #4d4d4d 1px solid;
    margin-top: 0.5rem;
  }

 

.session {
    position: absolute;
    top: 10px;
    right: 20px;
}

.session-lbl {
    margin-right: 1rem;
}

.session-btn {
    padding: 0.5rem 1rem;
    background: #4d4d4d;
    color: white;
  
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

